html, body {
  width: 100%;
  height: 100%;
  background: black;
  padding: 0;
  margin: 0;
}

#environment-output {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-size: cover;
}

#virtual-environment {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 50;
}

#overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  font-size: 40px;
  color: red;
}

#pois {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background-color: #FFF;
  z-index: 101;
  .poi {
    float: left;
    padding: 10px;
  }
  .color-indicator {
    width: 20px;
    height: 20px;
    float: left;
  }
  .poi-name {
    font-size: 20px;
    float: left;
    padding-left: 5px;
  }
}